Repository eseidel/yarborough: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, types, engine, cli

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: auto

flags:
  typescript:
    paths:
      - src/
    carryforward: true
  types:
    paths:
      - crates/types/
    carryforward: true
  engine:
    paths:
      - crates/engine/
    carryforward: true
  cli:
    paths:
      - crates/cli/
    carryforward: true

Add Auction::bid(), bids(), and bidding() convenience methods (#50)
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/nbk/call_menu.rs
  crates/engine/src/nbk/hand_model.rs
  crates/engine/src/rules/opening.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/tests/harness.rs
  crates/types/src/auction.rs
Due: types, engine

Add EnterNotrumpSystem call purpose for NT bid priority
  crates/engine/src/dsl/planner.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/nbk/call_menu.rs
  crates/engine/src/nbk/constraints.rs
  crates/engine/src/nbk/hand_model.rs
  crates/engine/src/rules/opening.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/tests/sayc_standard.expectations.yaml
Due: engine

Refactor: make annotations a proper DSL concept, not a constraint
  crates/engine/src/dsl/annotations.rs
  crates/engine/src/dsl/bidding_rule.rs
  crates/engine/src/dsl/macros.rs
  crates/engine/src/dsl/mod.rs
  crates/engine/src/dsl/planner.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/nbk/call_menu.rs
  crates/engine/src/nbk/call_selector.rs
  crates/engine/src/nbk/constraints.rs
  crates/engine/src/nbk/hand_model.rs
  crates/engine/src/nbk/semantics.rs
  crates/engine/src/rules/opening.rs
  crates/engine/src/rules/overcalls.rs
Due: engine

Remove unused PartialEq/Eq from CallSemantics and call menu types
  crates/engine/src/nbk/call_menu.rs
  crates/engine/src/nbk/semantics.rs
Due: engine

Add EnterNotrumpSystem call purpose for NT bid priority (#51)
  crates/engine/src/dsl/annotations.rs
  crates/engine/src/dsl/bidding_rule.rs
  crates/engine/src/dsl/macros.rs
  crates/engine/src/dsl/mod.rs
  crates/engine/src/nbk/call_menu.rs
  crates/engine/src/nbk/call_selector.rs
  crates/engine/src/nbk/semantics.rs
  crates/engine/src/rules/opening.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/tests/sayc_standard.expectations.yaml
Due: engine

Rewrite bidder_fight as a batch comparison tool with statistics
  AGENTS.md
  crates/cli/src/bin/bidder_fight.rs
  cspell.json
Due: cli

Rewrite bidder_fight as a batch comparison tool with statistics (#52)
  AGENTS.md
  crates/cli/src/bin/bidder_fight.rs
  cspell.json
Due: cli

Add explorer_fight tool and move suit symbols to display layer
  crates/cli/src/bin/explorer_fight.rs
  crates/engine/src/nbk/hand_model.rs
  crates/types/src/suit.rs
  cspell.json
Due: types, engine, cli

Add clippy to cspell word list
  cspell.json
Due: none

Add explorer_fight tool for comparing bid interpretations (#53)
  crates/cli/src/bin/explorer_fight.rs
  crates/engine/src/nbk/hand_model.rs
  crates/types/src/suit.rs
  cspell.json
Due: types, engine, cli

Use local z3b via CLI instead of remote server
  AGENTS.md
  crates/cli/Cargo.toml
  crates/cli/src/bin/bidder_fight.rs
  crates/cli/src/bin/explorer_fight.rs
  cspell.json
Due: cli

Add saycbridge as a submodule for local z3b comparison
  .gitmodules
  .prettierignore
  AGENTS.md
  crates/cli/src/bin/bidder_fight.rs
  crates/cli/src/bin/explorer_fight.rs
  cspell.json
Due: cli

Remove Z3B_PATH env var support
  .prettierignore
  crates/cli/Cargo.toml
  crates/cli/src/bin/bidder_fight.rs
  crates/cli/src/bin/explorer_fight.rs
Due: cli

Extract shared ReferenceBidder abstraction from fight binaries
  crates/cli/src/bin/bidder_fight.rs
  crates/cli/src/bin/explorer_fight.rs
  crates/cli/src/lib.rs
  crates/cli/src/reference_bidder.rs
Due: cli

Remove misleading comment about sequential comparison
  crates/cli/src/bin/bidder_fight.rs
Due: cli

Use local z3b via CLI submodule instead of remote server (#54)
  .gitmodules
  .prettierignore
  AGENTS.md
  crates/cli/src/bin/bidder_fight.rs
  crates/cli/src/bin/explorer_fight.rs
  crates/cli/src/lib.rs
  crates/cli/src/reference_bidder.rs
  cspell.json
Due: cli

Add suit quality checks for overcalls and preempts
  crates/engine/src/dsl/planner.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/nbk/constraints.rs
  crates/engine/src/nbk/hand_model.rs
  crates/engine/src/rules/opening.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/tests/sayc_regression.expectations.yaml
  crates/engine/tests/sayc_standard.expectations.yaml
  crates/types/src/hand.rs
Due: types, engine

Add Call::suit() convenience method
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/dsl/shows.rs
  crates/types/src/call.rs
Due: types, engine

Add suit quality checks for overcalls and preempts (#55)
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/dsl/planner.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/nbk/constraints.rs
  crates/engine/src/nbk/hand_model.rs
  crates/engine/src/rules/opening.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/tests/sayc_regression.expectations.yaml
  crates/engine/tests/sayc_standard.expectations.yaml
  crates/types/src/call.rs
  crates/types/src/hand.rs
Due: types, engine

Deduplicate Show and Constraint implementations
  crates/engine/src/dsl/planner.rs
  crates/engine/src/dsl/shows.rs
Due: engine

Deduplicate Show and Constraint implementations (#56)
  crates/engine/src/dsl/planner.rs
  crates/engine/src/dsl/shows.rs
Due: engine

refactor: rename `nbk` module to `kernel` and update references
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/dsl/bidding_rule.rs
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/dsl/planner.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/kernel/auction_model.rs
  crates/engine/src/kernel/call_ranker.rs
  crates/engine/src/kernel/call_selector.rs
  crates/engine/src/kernel/constraints.rs
  crates/engine/src/kernel/hand_model.rs
  crates/engine/src/kernel/interpreter.rs
  crates/engine/src/kernel/mod.rs
  crates/engine/src/kernel/point_ranges.rs
  crates/engine/src/kernel/semantics.rs
  crates/engine/src/kernel/trace.rs
  crates/engine/src/lib.rs
  crates/engine/src/rules/opening.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/src/rules/registry.rs
Due: engine

refactor: Simplify `bidding_rule!` macro annotation specification to use bare identifiers.
  crates/engine/src/dsl/macros.rs
  crates/engine/src/rules/opening.rs
  crates/engine/src/rules/overcalls.rs
Due: engine

refactor: Move CallSemantics, CallInterpreter, and HandConstraint definitions to dedicated files and refactor constraint optimization.
  crates/engine/src/dsl/bidding_rule.rs
  crates/engine/src/dsl/planner.rs
  crates/engine/src/kernel/call_interpreter.rs
  crates/engine/src/kernel/call_selector.rs
  crates/engine/src/kernel/call_semantics.rs
  crates/engine/src/kernel/hand_constraint.rs
  crates/engine/src/kernel/mod.rs
  crates/engine/src/kernel/trace.rs
  crates/types/src/hand.rs
Due: types, engine

refactor: Relocate CallPurpose enum to a new module and its categorization logic to CallSemantics.
  crates/engine/src/kernel/call_purpose.rs
  crates/engine/src/kernel/call_ranker.rs
  crates/engine/src/kernel/call_semantics.rs
  crates/engine/src/kernel/mod.rs
Due: engine

refactor: remove `CompetitiveAction` from `CallPurpose` enum and update call ranking logic. This `CallPurpose` no longer serves a purpose.
  crates/engine/src/kernel/call_purpose.rs
  crates/engine/src/kernel/call_ranker.rs
Due: engine

refactor: Consistently rename 'bid' to 'call' across the engine, Wasm bindings, and UI, and add vulnerability to call interpretation.
  crates/cli/src/bidding_utils.rs
  crates/cli/src/bin/bidder_fight.rs
  crates/cli/src/bin/bidding_debug.rs
  crates/cli/src/bin/bidding_explorer.rs
  crates/cli/src/bin/explorer_fight.rs
  crates/engine/src/kernel/call_selector.rs
  crates/engine/src/kernel/call_trace.rs
  crates/engine/src/kernel/mod.rs
  crates/engine/src/lib.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/tests/harness.rs
  crates/wasm/src/lib.rs
  src/__tests__/ExploreLinkIntegration.test.tsx
  src/bridge/__tests__/auction.test.ts
  src/bridge/auction.ts
  src/bridge/bridge-engine.d.ts
  src/bridge/engine.ts
  src/pages/ExplorePage.tsx
  src/pages/PracticePage.tsx
  src/pages/__tests__/PracticePage.test.tsx
Due: typescript, engine, cli

refactor: inline point range constants and logic into dsl/shows.rs and remove the kernel/point_ranges module.
  crates/engine/src/dsl/shows.rs
  crates/engine/src/kernel/mod.rs
  crates/engine/src/kernel/point_ranges.rs
Due: engine

refactor: rename BiddingRule trait and macro to Rule.
  crates/engine/src/dsl/macros.rs
  crates/engine/src/dsl/mod.rs
  crates/engine/src/dsl/rule.rs
  crates/engine/src/rules/natural.rs
  crates/engine/src/rules/opening.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/src/rules/registry.rs
Due: engine

Add negative doubles for contested auctions
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/kernel/call_selector.rs
  crates/engine/src/rules/natural.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/src/rules/registry.rs
  crates/engine/tests/sayc_standard.expectations.yaml
  crates/types/src/auction.rs
Due: types, engine

Add Call/Auction accessors to simplify predicate implementations
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/dsl/planner.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/kernel/call_selector.rs
  crates/types/src/auction.rs
  crates/types/src/call.rs
Due: types, engine

Fix cspell config: add missing ignorePaths and bridge notation words
  cspell.json
Due: none

Add negative doubles for contested auctions (#57)
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/dsl/planner.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/kernel/call_selector.rs
  crates/engine/src/rules/natural.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/src/rules/registry.rs
  crates/engine/tests/sayc_standard.expectations.yaml
  crates/types/src/auction.rs
  crates/types/src/call.rs
  cspell.json
Due: types, engine

Add advance bids (responding to partner's overcall)
  crates/engine/src/dsl/annotations.rs
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/kernel/auction_model.rs
  crates/engine/src/rules/advance.rs
  crates/engine/src/rules/mod.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/src/rules/registry.rs
  crates/engine/tests/sayc_standard.expectations.yaml
Due: engine

refactor: simplify PartnerBidHasAnnotation to PartnerOvercalled and add advance regression tests
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/rules/advance.rs
  crates/engine/tests/sayc_regression.expectations.yaml
  tests/bidding/sayc_regression.yaml
Due: engine

Add advance bids (responding to partner's overcall) (#58)
  crates/engine/src/dsl/annotations.rs
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/kernel/auction_model.rs
  crates/engine/src/rules/advance.rs
  crates/engine/src/rules/mod.rs
  crates/engine/src/rules/overcalls.rs
  crates/engine/src/rules/registry.rs
  crates/engine/tests/sayc_regression.expectations.yaml
  crates/engine/tests/sayc_standard.expectations.yaml
  tests/bidding/sayc_regression.yaml
Due: engine

refactor: update auction and show predicates, and refine call selection to prefer showing longer suits.
  .vscode/launch.json
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/kernel/call_selector.rs
  crates/engine/src/rules/advance.rs
  crates/engine/src/rules/overcalls.rs
Due: engine

refactor: Replace `max_by_key` with `first_max_by_key` for consistent maximum element selection.
  crates/engine/src/kernel/call_selector.rs
Due: engine

refactor: Rework `AuctionModel` to store and expose individual `CallSemantics` for each auction call, replacing per-player aggregated annotations.
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/kernel/auction_model.rs
  crates/types/src/auction.rs
Due: types, engine

feat: add `presubmit.sh` script to automate code quality checks for TypeScript and Rust.
  scripts/presubmit.sh
Due: none
