Repository eseidel/yarborough: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, types, engine, cli

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: auto

flags:
  typescript:
    paths:
      - src/
    carryforward: true
  types:
    paths:
      - crates/types/
    carryforward: true
  engine:
    paths:
      - crates/engine/
    carryforward: true
  cli:
    paths:
      - crates/cli/
    carryforward: true

refactor: Consolidate competitive bidding rules by deleting `overcalls.rs` and `advance.rs` and introducing `competitive.rs`.
  crates/engine/src/rules/advance.rs
  crates/engine/src/rules/competitive.rs
  crates/engine/src/rules/mod.rs
  crates/engine/src/rules/registry.rs
Due: engine

feat: Add `minimum_bid_in` to `Auction`, introduce `IsLevelRange` predicate, and refactor `Shows` trait with new point calculation helpers.
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/kernel/hand_model.rs
  crates/engine/src/rules/competitive.rs
  crates/engine/src/rules/registry.rs
  crates/engine/tests/sayc_standard.expectations.yaml
  crates/types/src/auction.rs
Due: types, engine

feat: Add relative last call methods and refine `IsNewSuit` predicate logic, updating S.A.Y.C. rule expectations.
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/dsl/shows.rs
  crates/engine/src/kernel/auction_model.rs
  crates/engine/src/rules/competitive.rs
  crates/engine/src/rules/registry.rs
  crates/engine/tests/sayc_regression.expectations.yaml
  crates/engine/tests/sayc_standard.expectations.yaml
  crates/types/src/auction.rs
Due: types, engine

Refactor competitive bidding rules by renaming `PassAdvance` to `PassResponseToOvercall` and introducing `LawOfTotalTricks`, updating test expectations.
  crates/engine/src/rules/competitive.rs
  crates/engine/src/rules/registry.rs
  crates/engine/tests/sayc_regression.expectations.yaml
  crates/engine/tests/sayc_standard.expectations.yaml
Due: engine

refactor: rename `PreferShowingLongerLength` to `PreferLongerSuit` for clarity.
  crates/engine/src/kernel/call_selector.rs
Due: engine

feat: Add `IsMinLevelForStrain` predicate and apply it to various competitive and natural bidding rules.
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/rules/competitive.rs
  crates/engine/src/rules/natural.rs
Due: engine

refactor: derive ExplorePage call history from URL parameters and add navigation tests.
  src/pages/ExplorePage.tsx
  src/pages/__tests__/ExplorePage_Navigation.test.tsx
Due: typescript

refactor: Update PreemptiveOpening rule to use `IsLevelRange(3, 4)` instead of `MinLevel(3)` and add a corresponding test.
  crates/engine/src/rules/opening.rs
Due: engine

refactor: rename `AtMostGameLevel` predicate to `IsGameLevelOrBelow` and update its usage.
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/rules/natural.rs
Due: engine

feat: Add Two Notrump Jump Rebid rule and supporting auction predicates.
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/rules/natural.rs
  crates/engine/src/rules/registry.rs
  crates/engine/tests/sayc_standard.expectations.yaml
Due: engine

feat: Add 2NT and 3NT jump response rules, and refine auction predicates for opener's bid level and partner's opening.
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/rules/natural.rs
  crates/engine/src/rules/registry.rs
Due: engine

refactor: replace `TheyHaveBid` predicate with `RhoBid` for more precise auction state checks and update related rules and tests.
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/rules/natural.rs
Due: engine

refactor: Rename JumpShiftResponse to JumpShift.
  crates/engine/src/rules/natural.rs
  crates/engine/src/rules/registry.rs
Due: engine

feat: Implement Jacoby 2NT convention and introduce ConventionalResponse call purpose and annotations.
  crates/engine/src/dsl/annotations.rs
  crates/engine/src/dsl/auction_predicates.rs
  crates/engine/src/kernel/call_purpose.rs
  crates/engine/src/kernel/call_semantics.rs
  crates/engine/src/rules/jacoby_2nt.rs
  crates/engine/src/rules/mod.rs
  crates/engine/src/rules/registry.rs
  crates/engine/tests/sayc_standard.expectations.yaml
Due: engine

feat: Refactor Jacoby 2NT response rules, introduce `LevelRange` predicate, and adjust natural notrump bidding.
  crates/engine/src/dsl/call_predicates.rs
  crates/engine/src/kernel/call_purpose.rs
  crates/engine/src/kernel/call_ranker.rs
  crates/engine/src/kernel/call_semantics.rs
  crates/engine/src/rules/jacoby_2nt.rs
  crates/engine/src/rules/natural.rs
  crates/engine/src/rules/registry.rs
  crates/engine/tests/sayc_standard.expectations.yaml
Due: engine

Add a more comprehensive SAYC reference
  docs/sayc-bidding-system-reference.md
Due: none

Improve bid descriptions by including hand constraints.
  python/tests/test_yarborough_z3b.py
  python/tests/test_z3b_golden_cases.py
  python/yarborough_z3b.py
  src/bridge/__tests__/engine-results.test.ts
  src/bridge/__tests__/types.test.ts
  src/bridge/__tests__/z3b-worker.browser.test.ts
  src/bridge/engine-results.ts
  src/bridge/mock.ts
  src/bridge/types.ts
  src/components/CallMenu.tsx
  src/components/CallTable.tsx
  src/components/ConstraintsDisplay.tsx
  src/components/__tests__/CallTable.test.tsx
  src/components/__tests__/ConstraintsDisplay.test.tsx
  src/pages/PracticePage.tsx
  src/pages/__tests__/PracticePage.test.tsx
  tests/z3b_golden_cases.json
Due: typescript

Fix CI configuration
  .github/workflows/ci.yml
Due: none

Add autobid checker and partnership stats. Update metdata and add analytics.
  index.html
  src/__tests__/analytics.test.ts
  src/analytics.ts
  src/bridge/__tests__/auction.test.ts
  src/bridge/auction.ts
  src/components/AutobidResult.tsx
  src/components/DealStats.tsx
  src/components/__tests__/AutobidResult.test.tsx
  src/components/__tests__/DealStats.test.tsx
  src/pages/ExplorePage.tsx
  src/pages/PracticePage.tsx
  src/pages/__tests__/PracticePage.test.tsx
Due: typescript

Optimize full autobid calculation and fix practice page lockup
  python/tests/test_yarborough_z3b.py
  python/yarborough_z3b.py
  src/bridge/__tests__/auction.test.ts
  src/bridge/__tests__/engine.test.ts
  src/bridge/auction.ts
  src/bridge/engine-protocol.ts
  src/bridge/engine.ts
  src/pages/PracticePage.tsx
Due: typescript

Deploy to Cloudflare Workers instead of GitHub Pages
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  README.md
  cspell.json
  docs/deployment.md
  package.json
  pnpm-lock.yaml
  scripts/test-production-build.mjs
  tests/deploy-config.test.ts
  tsconfig.node.json
  vite.config.ts
  vitest.browser.config.ts
  wrangler.jsonc
Due: none

Resolve the promote source run by workflow filename
  .github/workflows/promote.yml
Due: none

Keep the search results when saycbridge.com moves
  .gitignore
  cspell.json
  docs/deployment.md
  index.html
  public/_headers
  public/_redirects
  public/favicon.ico
  public/robots.txt
  public/sitemap.xml
  src/App.tsx
  src/__tests__/AppRouting.test.tsx
  src/__tests__/seo.test.ts
  src/pages/ExplorePage.tsx
  src/pages/PracticePage.tsx
  src/seo.ts
  tests/seo-files.test.ts
Due: typescript

Keep the Search Console TXT records across the nameserver move
  docs/deployment.md
Due: none

Retire /scoring permanently rather than provisionally
  docs/deployment.md
  public/_redirects
  tests/seo-files.test.ts
Due: none

Keep the search results when saycbridge.com moves (#60)
  .gitignore
  cspell.json
  docs/deployment.md
  index.html
  public/_headers
  public/_redirects
  public/favicon.ico
  public/robots.txt
  public/sitemap.xml
  src/App.tsx
  src/__tests__/AppRouting.test.tsx
  src/__tests__/seo.test.ts
  src/pages/ExplorePage.tsx
  src/pages/PracticePage.tsx
  src/seo.ts
  tests/seo-files.test.ts
Due: typescript

Let board permalinks keep themselves, on the evidence
  docs/seo-baseline/Countries.csv
  docs/seo-baseline/Devices.csv
  docs/seo-baseline/Pages.csv
  docs/seo-baseline/Queries.csv
  docs/seo-baseline/README.md
  index.html
  src/__tests__/AppRouting.test.tsx
  src/__tests__/seo.test.ts
  src/pages/PracticePage.tsx
  src/seo.ts
  tests/seo-files.test.ts
Due: typescript

Let board permalinks keep themselves, on the evidence (#61)
  docs/seo-baseline/Countries.csv
  docs/seo-baseline/Devices.csv
  docs/seo-baseline/Pages.csv
  docs/seo-baseline/Queries.csv
  docs/seo-baseline/README.md
  index.html
  src/__tests__/AppRouting.test.tsx
  src/__tests__/seo.test.ts
  src/pages/PracticePage.tsx
  src/seo.ts
  tests/seo-files.test.ts
Due: typescript

Attach saycbridge.com to the Workers deployment
  .github/workflows/deploy.yml
  .github/workflows/promote.yml
  cspell.json
  docs/deployment.md
  tests/deploy-config.test.ts
  wrangler.jsonc
Due: none

Do not grant the deploy token DNS edit
  docs/deployment.md
Due: none

Replace the dead ga.js analytics with GA4
  cspell.json
  docs/deployment.md
  src/__tests__/analytics.test.ts
  src/analytics.ts
Due: typescript

Replace the dead ga.js analytics with GA4 (#63)
  cspell.json
  docs/deployment.md
  src/__tests__/analytics.test.ts
  src/analytics.ts
Due: typescript

Seed Math.random in tests so coverage is deterministic
  src/test/__tests__/determinism.test.ts
  src/test/setup.ts
Due: typescript

Test vulnerability highlighting directly
  src/components/__tests__/CallTable.test.tsx
Due: typescript

Drop the unused parameter from the vulnerability helper
  src/components/__tests__/CallTable.test.tsx
Due: typescript

Make test coverage deterministic
  src/components/__tests__/CallTable.test.tsx
  src/test/__tests__/determinism.test.ts
  src/test/setup.ts
Due: typescript
